* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Poppins', sans-serif;
}

.header {
    overflow: hidden;
    background-color: #b4000023;
    padding: 0px 2px;
}
.header-name{
    float: right;
    padding:20px 0px;
}
.header a {
    float: left;
    color: rgb(12, 1, 1);
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 5px;
}

.header a.logo {
    font-size: 25px;
    font-weight: bold;
}

.header a:hover {
    background-color: #ddd;
    color: rgba(121, 39, 39, 0.993);
}
.header a.active {
    background-color: dodgerblue;
    color: white;
}

.header-right {
    float: right;
    display: flex;
    padding: 20px 20px;
}

.hamburger-lines {
    display: flex;
}

.menu-items {
    display: flex;
    list-style: none;
    
}

.menu-items li {
    padding: 0 1rem;
}

.menu-items a {
    color: #fff;
    text-decoration: none;
    transition: all 0.3s ease;
}

.menu-items a:hover {
    color: #00bcd4;
}

.logo {
    color: #00bcd4;
    font-size: 1.5rem;
    font-weight: bold;
}

.showcase-area {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(https://i.postimg.cc/mgpwzmx9/about-photo.jpg);
    background-position: center;
    background-size: cover;
}

.showcase-container {
    text-align: center;
    color: #fff;
}

.main-title {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.showcase-container p {
    margin-bottom: 2rem;
    width: 30%;
    margin: 0 auto;
}

.btn-primary {
    display: inline-block;
    padding: 0.5rem 1rem;
    background-color: #00bcd4;
    color: #fff;
    border: none;
    border-radius: 0.2rem;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn-primary:hover {
    background-color: #008c9e;
}

#about {
    background-color: #f9f9f9;
    padding: 5rem 0;
}

#about .about-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

#about .about-text {
    width: 40%;
    padding: 2rem;
}

#about .about-text p {
    width: 80%;
    margin: 0 auto;
}

#about .about-img {
    width: 40%;
}

#about .about-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#food {
    padding: 5rem 0;
    text-align: center;
}
.social-media {
    background-color: #050505;
    color: #fff;
    padding: 50px 0;
}

.social-icons {
    text-align: center;
}

.social-icons a {
    display: inline-block;
    margin-right: 20px;
    transition: transform 0.5s ease;
}

.social-icons a:hover {
    transform: scale(2);
}

.contact-info {
    text-align: center;
    margin-top: 20px;
}

.contact-info p {
    margin-bottom: 10px;
}
footer {
    background-color: #130223;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}
